@import url(reset.css);
body {
  background-color: rgb(189, 221, 228);
}
.wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}
#input1 {
  font-size: 2rem;
  padding: 5px;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}

#btnWeather {
  font-size: 2rem;
  background-color: rgb(16, 13, 108);
  color: white;
  padding: 5px;
  border-radius: 12px;
  cursor: pointer;
}
p {
  text-align: center;
  font-size: 1.5rem;
}

#result {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapperWeather {
  width: 250px;
  margin-top: 20px;
  background-color: rgb(134, 180, 223);
  color: black;
  border: 1px solid rgb(30, 6, 88);
  padding: 40px 20px 40px 20px;
  border-radius: 12px;
}
.date {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.temperatureMin {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-family: cursive;
}

.temperatureMax {
  font-size: 1.4rem;
  font-family: cursive;
}
.day,
.night {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-family: cursive;
}

#neighbors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
}
.neighborCity {
  width: 175px;
  background-color: rgb(87, 35, 216);
  color: white;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.3rem;
}

.errorCity {
  font-size: 5rem;
}
